@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');
:root{
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #0dbd4a;
    --color-brand2: #02ed54a1;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";

}

body{
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--color-heading);
    font-size: 700;
}

a{
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}
a:hover {
    color: var(--color-brand);
}

image {

    width: 100%;
}




/* navbar and media quary */
.navbar .nav-link{
    font-size: 900;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;

}
.navbar .nav-link:hover{
    
    color: var(--color-brand);

}
@media (min-width: 992px){
    .navbar{
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(#033f47af, hwb(188 2% 65% / 0.31)), url(../images/sidebar-img.jpg);
        background-repeat: no-repeat;

    }
    .navbar-brand img {
        border: 8px solid var(--color-brand);

    }
    /* content wrapper */
    #content-wrapper {
        padding-left: var(--sidbar-width);
    }


    /* cotent wrapper */
}